.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
}
.link__kugtq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__z2Kzs {
  object-fit: cover;
  height: 40px;
}
.img__z2Kzs > picture > img {
  object-fit: cover;
}
.img___2Ee0E {
  object-fit: cover;
}
.img___2Ee0E > picture > img {
  object-fit: cover;
}
.img___8AfW {
  object-fit: cover;
}
.img___8AfW > picture > img {
  object-fit: cover;
}
.link__sW0DJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.svg__upSgn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.link___8Q603 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.svg__fSkf4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.link__aAOl2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.svg__ztyoT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  grid-row-gap: 16px;
  align-content: space-between;
  justify-items: center;
  background: url("/plasmic/website_starter/images/bgwebp.webp") 0% 0% / cover;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.img__rtIc8 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 600px;
  left: 0px;
  top: auto;
  z-index: 0;
  height: auto;
  bottom: 42px;
}
.img__rtIc8 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rtIc8 {
    height: 400px;
    top: 212px;
    left: auto;
    width: 400px;
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rtIc8 > picture > img {
    object-fit: contain;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    height: 400px;
  }
}
.columns___5DPkq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  background: linear-gradient(0deg, #012f4a99 0%, #012f4a00 100%) 0% 0% / 100%
    100% repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 24px;
}
.columns___5DPkq > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns___5DPkq > :global(.__wab_flex-container) > *,
.columns___5DPkq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___5DPkq > :global(.__wab_flex-container) > picture > img,
.columns___5DPkq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns___5DPkq > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___5DPkq > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5DPkq {
    width: auto;
    height: auto;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5DPkq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5DPkq > :global(.__wab_flex-container) > *,
  .columns___5DPkq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___5DPkq > :global(.__wab_flex-container) > picture > img,
  .columns___5DPkq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5DPkq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vFy0C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__vFy0C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__vFy0C > :global(.__wab_flex-container) > *,
.column__vFy0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vFy0C > :global(.__wab_flex-container) > picture > img,
.column__vFy0C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.dd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  color: #ffffff;
  font-size: 18px;
  min-width: 0;
}
.column__wIr54 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.columns__f1Zbp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__f1Zbp > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__f1Zbp > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__f1Zbp > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Zbp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Zbp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kw3IK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__fgMeI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hFG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__hFG > picture > img {
  object-fit: cover;
}
.column__dQi3H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__jkmhN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__yf6Jv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__yf6Jv > picture > img {
  object-fit: cover;
}
.column__fBvmW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__zK4CT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__bmRUx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__bmRUx > picture > img {
  object-fit: cover;
}
